extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="algo sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum aspernatur amet repellat unde aliquid, laboriosam consequuntur adipisci accusamus cumque, non laudantium. Fugiat saepe voluptatum eveniet possimus quam architecto officiis eius.Tempore, delectus? Harum eos, incidunt odio nihil doloremque quisquam facilis ipsa magnam doloribus quasi vitae aut.
                
                p Enim reprehenderit deserunt voluptas unde incidunt maiores libero, ullam natus, corporis et veritatis culpa?Quisquam, dolores! Necessitatibus a at recusandae deleniti excepturi doloribus dolore magnam, dolorum quo. Eos a possimus illo magni fugiat adipisci assumenda dicta! Consectetur maxime eum quas magnam odit vitae fuga?Dolore dolores ad dolor quas ex, beatae dignissimos voluptatibus voluptatem alias vitae atque quaerat, ab quis, error debitis illum accusantium eum qui ipsum! Recusandae quasi assumenda ad facere laborum eaque?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam placeat molestiae et minima ut iusto necessitatibus dolores obcaecati aspernatur error tenetur a distinctio illo hic exercitationem eaque omnis, ab non.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 MEJOR SEGURIDAD 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, accusamus culpa totam nobis laborum dolore! Sit placeat ratione ex pariatur quaerat vero obcaecati sed expedita odit eaque, harum autem itaque.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 MEJORES DESTINOS 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, accusamus culpa totam nobis laborum dolore! Sit placeat ratione ex pariatur quaerat vero obcaecati sed expedita odit eaque, harum autem itaque.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 MEJORES PRECIOS  
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, accusamus culpa totam nobis laborum dolore! Sit placeat ratione ex pariatur quaerat vero obcaecati sed expedita odit eaque, harum autem itaque.